{% extends "dashboard/base.html" %}
{% block title %}
Credentials List
{% endblock %}
{% block content %}

{% include "message.html" %}
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<div class="container-fluid">
    <h2 class="text-center mt-3 ">Student's Account Credentials</h2>

    <table class="mb-5 table table-secondary table-striped">

        <thead class="table-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Class</th>
                <th scope="col">User Name</th>
                <th scope="col">Password</th>
            </tr>
        </thead>
        <tbody>
            {% for user_profile, student in myList %}
            <tr>
                <th scope="row">{{ student.fullName}}</th>
                <td>{{ student.classRoom.classSection }}</td>
                <td>{{ user_profile.user.username }}</td>
                <td>{{ user_profile.password }}</td>
            {% endfor %}
        </tbody>

    </table>

</div>

{% endblock content %}