{% extends "dashboard/base.html" %}
{% block title %}
Update Student Info
{% endblock %}
{% block content %}

{% include "message.html" %}
<div class="container">
<form class="container w-75" id="myForm" method="POST" action={% url 'updateInfo' %} >
{% csrf_token %}
<h3 class="my-2 text-info ">Update Student Details</h3>


<div class="form-group w-50">
    <label for="username" class="font-weight-bold">Admission Number of Student to Update</label>
    <input type="number" min="0" class="form-control" id="addmissionnumber" name="addmissionnumber" value = {{student.admissionNumber}} required>
</div>
<hr>

<!-- <p class="mt-5">(Leave Blank if no changes required)</p> -->
<div class="form-row">
<div class="form-group col-md-3">
    <label for="username">First Name</label>
    <input type="text" class="form-control" id="firstname"  name="firstname" value = {{student.firstName}}>
</div>
<div class="form-group col-md-3">
    <label for="username">Last Name</label>
    <input type="text" class="form-control" id="lastname"  name="lastname" value = {{student.lastName}}>
</div>
<div class="form-group col-md-3">
    <label class="pr-1" for="exampleFormControlSelect2">Gender:</label>
    <select name="gender" class="form-control mr-2" id="exampleFormControlSelect2">
        <option selected="true" value="">Select</option>
        <option value="Teacher">Male</option>
        <option value="Tutor">Female</option>
    </select>
</div>
</div>
<div class="form-row">
<div class="form-group col-md-3">
    <label for="username">DOB</label>
    <input type="date" class="form-control" id="sDOB" aria-describedby="" value = {{dob}} name="sDOB">
</div>
<div class="form-group col-md-3">
    <label for="username">Class Section</label>
    <input type="text" class="form-control" id="classsection" name="classsection"value = 
    {{student.classSection}}>
</div>
<div class="form-group col-md-3">
    <label for="username">Phone Number</label>
    <input type="text" min="0" class="form-control" id="phonenumber" name="phone_number" value = 
    {{student.mobileNumber}} maxlength="10" pattern="\d{10}">
</div>
</div>


<div class="form-group">
<label for="inputAddress">Current Address</label>
<input type="text" class="form-control" id="inputAddress" name="currentinputAddress" placeholder="" value = {{pAdd.Address1}}>
</div>
<div class="form-group">
<label for="inputAddress2">Current Address 2</label>
<input type="text" class="form-control" id="inputAddress2" name="currentinputAddress2"  placeholder="" value = {{pAdd.Address2}}>
</div>
<div class="form-row">
<div class="form-group col-md-6">
    <label for="inputCity">City</label>
    <input type="text" class="form-control" id="inputCity" name="inputCity" 
    value = {{pAdd.city}}>
</div>
<div class="form-group col-md-4">
    <label for="inputState">State</label>
    <input type="text" class="form-control" id="inputState" name="inputState" value = 
    {{pAdd.state}}>
</div>
<div class="form-group col-md-2">
    <label for="inputZip">Pin Code</label>
    <input type="text" class="form-control" id="inputZip" name="inputZip" value = 
    {{pAdd.zipCode}}>
</div>
</div>
<div class="custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" name="customCheck1" id="customCheck1"
                    onclick="FillAddress(this.form)">
                <label class="custom-control-label font-italic font-weight-lighter" for="customCheck1"> Current Address is same
                    as Permanent Address:</label>
            </div>



<div class="form-group">
<label for="preminputAddress">Permanent Address</label>
<input type="text" class="form-control" id="perminputAddress" name="perminputAddress" placeholder="" value = {{cAdd.Address2}}>
</div>
<div class="form-group">
<label for="preminputAddress2">Permanent Address 2</label>
<input type="text" class="form-control" id="perminputAddress2"  name="perminputAddress2" placeholder="" value = {{cAdd.Address2}}>
</div>
<div class="form-row">
<div class="form-group col-md-6">
    <label for="inputCity">City</label>
    <input type="text" class="form-control" id="perminputCity" name="perminputCity" value = {{cAdd.city}}>
</div>
<div class="form-group col-md-4">
    <label for="inputState">State</label>
    <input type="text" class="form-control" id="perminputState" name="perminputState" value = {{cAdd.state}}>
</div>
<div class="form-group col-md-2">
    <label for="inputZip">Zip</label>
    <input type="text" class="form-control" id="perminputZip" name="perminputZip" value = {{cAdd.zipCode}}>
</div>
</div>
<div class="form-row mt-2">
<div class="form-group col-md-3">
<label for="username">Religion</label>
<input type="text" class="form-control" id="religion" name="religion" value = {{student.religion}}>
</div>
<div class="form-group col-md-3">
<label for="caste">Caste</label>
<input type="text" class="form-control" id="caste" name="caste" value = {{student.caste}}>
</div>
<div class="form-group col-md-3">
<label for="tcnumber">Transfer Certificate Number</label>
<input type="number" class="form-control" id="tcnumber" min="0" name="tcnumber" onwheel="this.blur()" value = {{student.tcNumber}}>
</div>
</div>
<div class="form-row mt-2">
<div class="form-group col-md-3">
<label for="anumber">Aadhar Number</label>
<input type="number" class="form-control" id="anumber" min="0" name="anumber" onwheel="this.blur()" value = {{student.aadharNumber}}>
</div>
<div class="form-group col-md-3">
<label for="feeCategory">Fee Waiver Category</label>
<input type="text" class="form-control" id="feeCategory" name="feeCategory" value = {{student.feeWaiverCategory}}>
</div>
<div class="form-group col-md-3">
<label for="siblingid">Sibling ID</label>
<input type="number" class="form-control" id="siblingid" min="0" name="siblingid" onwheel="this.blur()" value = {{student.siblingID}}>
</div>
<div class="form-group mb-5 col-md-3">
<label for="prevschoolname">Previous School Name</label>
<input type="text" class="form-control" id="prevschoolname" min="0" name="prevschool_name" value = {{student.prevSchoolName}}>
</div>
</div>
<div class="row justify-content-around">
        <button type="submit" class="col-4 mt-5  container btn btn-primary">Submit</button>
    </div>
</form>

<script>
        function FillAddress(f) {
            console.log(999)
            if (f.customCheck1.checked == true) {
                f.perminputAddress.value = f.currentinputAddress.value;
                f.perminputAddress2.value = f.currentinputAddress2.value;
                f.perminputCity.value = f.inputCity.value;
                f.perminputState.value = f.inputState.value;
                f.perminputZip.value = f.inputZip.value;
            }
        }
</script>





{% endblock %}