<!doctype html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    {% include 'message.html' %}

    <div class="container pt-3 mt-3">
        <form method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="text-center">Sign Up</h2>
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username">
            </div>
            <div class="form-group">
                <label for="username">Name</label>
                <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="name">
            </div>
            <div class="form-group">
                <label class="pr-1" for="exampleFormControlSelect2">Type:</label>
                <select name="usertype" class="form-control mr-2" id="exampleFormControlSelect2">
                    <option selected="true" value="">Select</option>
                    <option value="Teacher">Teacher</option>
                    <option value="Tutor">Tutor</option>
                    <option value="Admin">Admin</option>
                    <option value="Student">Student</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Profile Pic</label>
                <input type="file" class="form-control" id="" name="profile_picture">
            </div>
            <div class="form-group">
                <label for="username">Phone Number</label>
                <input type="number" class="form-control" id="username" aria-describedby="emailHelp" name="phonenumber">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword2"> Confirm Password</label>
                <input type="password" name="password2" class="form-control" id="exampleInputPassword2">
            </div>
            <div class="form-group">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>