{% extends "dashboard/base.html" %}
{% block title %}
Check HomeWork
{% endblock %}
{% block content %}
{% include "message.html" %}
<div class="container-fluid">
    <h2 class="text-center my-4">Check Your HomeWork </h2>
    {% if homeworks %}
    {% for homework in homeworks %}
    <div class="container border border-dark mb-3 p-0 bg-dark pb-1 text-white">
        <div class="row justify-content-around bg-secondary m-0 py-1">
            <p class="col"><strong>Subject</strong>-{{homework.subject}}</p>
            <p class="col"><strong>Date-Published</strong>-{{homework.date_published}}</p>
        </div>    
        <p class="px-3 my-2"><strong>Description</strong>-{{homework.description}}</p>    
        {% if homework.document %}
        <a href="{{ homework.document.url }}" class="my-2 btn btn-info ml-2" download="notice">Download Notice File</a>
        {% endif %}
    </div>
    {% endfor %}
    {% else %}
    <h4 class="text-center">There is no homework for your class.</h4>
    {% endif %}
</div>
{% endblock %}