{% extends "dashboard/base.html" %}
{% block title %}
Add Syllabus
{% endblock %}
{% block content %}

{% include "message.html" %}
<div class="container mx-auto px-auto m-3">
    <h3 class="text-center">Add Syllabus</h3>
    <form action="{% url 'syllabus' %}" method="post" enctype="multipart/form-data" onsubmit="prepareDiv()">
        {% csrf_token %}
        <div class="form-group w-50">
            <label class="pr-1" for="">Class/Section:</label>
            <select name="class_room" class="form-control mr-2" id="class_room">
                <option selected="true" disabled="disabled" value="a">Select</option>
                {% for class_room in class_rooms %}
                <option value='{{ class_room.classSection }}'>{{ class_room.classSection }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group w-75">
          <label for="">Detail:</label>
          <input type="hidden" class="form-control" name="description" id="hidden_input" aria-describedby="helpId" placeholder="">
        </div>
        <div class="toolbar">
            <a href="#" data-command='undo'><i class='fa fa-undo'></i></a>
            <a href="#" data-command='redo'><i class='fa fa-redo'></i></a>
    
    
            <a href="#" data-command='bold'><i class='fa fa-bold'></i></a>
            <a href="#" data-command='italic'><i class='fa fa-italic'></i></a>
            <a href="#" data-command='underline'><i class='fa fa-underline'></i></a>
            <a href="#" data-command='strikeThrough'><i class='fa fa-strikethrough'></i></a>
            <a href="#" data-command='justifyLeft'><i class='fa fa-align-left'></i></a>
            <a href="#" data-command='justifyCenter'><i class='fa fa-align-center'></i></a>
            <a href="#" data-command='justifyRight'><i class='fa fa-align-right'></i></a>
            <a href="#" data-command='justifyFull'><i class='fa fa-align-justify'></i></a>
            <a href="#" data-command='indent'><i class='fa fa-indent'></i></a>
            <a href="#" data-command='outdent'><i class='fa fa-outdent'></i></a>
            <a href="#" data-command='insertUnorderedList'><i class='fa fa-list-ul'></i></a>
            <a href="#" data-command='insertOrderedList'><i class='fa fa-list-ol'></i></a>
            <a href="#" data-command='h1'>h1</a>
            <a href="#" data-command='h2'>h2</a>
            <a href="#" data-command='createlink'><i class='fa fa-link'></i></a>
            <a href="#" data-command='unlink'><i class='fa fa-unlink'></i></a>
            <a href="#" data-command='p'>P</a>
            <a href="#" data-command='subscript'><i class='fa fa-subscript'></i></a>
            <a href="#" data-command='superscript'><i class='fa fa-superscript'></i></a>
          </div>
          <div id='editor' contenteditable>
           
          </div>
        <div class="form-group w-50 mt-3">
            <label for="">Syllabus File:</label>
            <input type="file" class="form-control-file no-print " id="syllabus_file"
                name="syllabus_file">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

  <script>
    function prepareDiv() {
      document.getElementById("hidden_input").value = document.getElementById("editor").innerHTML;
  }
    $('.toolbar a').click(function (e) {
      var command = $(this).data('command');
      if (command == 'h1' || command == 'h2' || command == 'p') {
        document.execCommand('formatBlock', false, command);
      }
      if (command == 'forecolor' || command == 'backcolor') {
        document.execCommand($(this).data('command'), false, $(this).data('value'));
      }
      if (command == 'createlink' || command == 'insertimage') {
        url = prompt('Enter the link here: ', 'http:\/\/');
        document.execCommand($(this).data('command'), false, url);
      } else document.execCommand($(this).data('command'), false, null);
    });
  </script>
    {% endblock content %}