{% extends "dashboard/base.html" %}
{% block title %}
Add Thought
{% endblock %}
{% block content %}

{% include "message.html" %}
      <div class="container mt-4">

          <form action="{% url 'addThought'  %}" method="GET">
              <div class="form-group">
                  <label for="">Add Thought</label>
                  <input type="text" class="form-control" name="thought" id="" aria-describedby="helpId" placeholder="">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
        </div>
{% endblock %}