{% extends "dashboard/base.html" %}
{% block title %}
Vehicle Register
{% endblock %}
{% block content %}

{% include "message.html" %}
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<div class="container-fluid mx-auto px-auto m-3">
    <h3 class="text-center pb-2">Vehicle</h3>
    <form action="{% url 'addVehicle' %}" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-3">
                <label >Vehicle No:</label>
                <input type="number" min="0" class="form-control"  name="vehicleNumber">
            </div>
            <div class="form-group col-md-3">
                <label >Device ID or IMEI NO:</label>
                <input type="number" min="0" class="form-control"  name="deviceID">
            </div>
            <div class="form-group col-md-3">
                <label >No of Seats:</label>
                <input type="text" class="form-control"  name="seats">
            </div>
            <div class="form-group col-md-3">
                <label >Maximum Allowed:</label>
                <input type="text" class="form-control"  name="maximum">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label >Vehicle Type:</label>
                <input type="text" min="0" class="form-control"  name="vehicleType">
            </div>
            <div class="form-group col-md-3">
                <label >Contact Person:</label>
                <input type="text" class="form-control"  name="contactPerson">
            </div>
            <div class="form-group col-md-3">
                <label >Insurance Company:</label>
                <input type="text" class="form-control" name="insuranceCompany">
            </div>
            <div class="form-group col-md-3">
                <label >Insurance Date:</label>
                <input type="date" class="form-control" name="insuranceDate">
            </div>
        </div>
        <div class="form-row">

            <div class="form-group col-md-3">
                <label >Pollution Exp Cert Date:</label>
                <input type="date" class="form-control"  name="pollutionCertDate">
            </div>
            <div class="form-group col-md-3">
                <label >Permit Valid Date:</label>
                <input type="date" class="form-control"  name="permitValidDate">
            </div>
            <div class="form-group col-md-3">
                <label >Service Due Date:</label>
                <input type="date" class="form-control"  name="serviceDueDate">
            </div>
            <div class="form-group col-md-3">
                <label >Service ID:</label>
                <input type="number" min="0" class="form-control"  name="serviceID">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label >Fitness Service Date:</label>
                <input type="date" class="form-control"  name="fitnessServiceDate">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock content %}