<nav class="navbar w-100 navbar-expand-lg navbar-dark bg-dark">
                    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse text-center " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link btn btn-info" href="{% url 'updateEmpInfo' %}">Update Employee Info <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link btn btn-info ml-4" href="{% url 'empSearchPage' %}">Search Records<span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link btn btn-info ml-4  " href="{% url 'employeeForm' %}">Add New  Info <span class="sr-only"></span></a>
                  </li>
          </ul>
          
        </div>
      </nav>