<!doctype html>
<html lang="en" class="">

<head>
  <title>{{employee.fullName}}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
  .marginTop {
    margin-top: -130px;
  }

  @media print {
    body {
      font-size: 1.3rem;
      margin: 0;
      padding: 0;
      /* change the margins as you want them to be. */
    }
    html, body {
      height:110vh; 
      margin: 10px !important; 
      padding: 10px !important;
      overflow: hidden;
    }

  }

  @page {
    size: A4;
    margin: 0;
  }
</style>

<body class="container-fluid" onload="window.print()">


  <div class="header container-fluid py-4 border-bottom border-dark text-center ">
    <h1>Header</h1>
  </div>
  <div class="container-fluid text-center mt-2">
    <h3>Sample Heading</h3>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <span class="font-weight-bold text-info">Name :</span> {{employee.fullName}}
      </div>
      <div class="col-sm-4">
        <span class="font-weight-bold text-info">Gender :</span> {{employee.gender}}
      </div>
      <div class="col-sm-4">
        <div class="container-fluid border border-dark p-5 w-50">
          <div class="container p-5">
          </div>
        </div>
      </div>
    </div>

    <div class="row marginTop">
      <div class="col-sm-4"><span class="font-weight-bold text-info">DOB :</span> {{employee.dob}}</div>
      <div class="col-sm-4">
        <span class="font-weight-bold text-info">E-Mail :</span> {{employee.email}}
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-4">
        <span class="font-weight-bold text-info">Employee ID :</span> {{employee.admissionNumber}}
      </div>
      <div class="col-sm-4"><span class="font-weight-bold text-info"> Mobile Number :</span> {{employee.mobileNumber}}
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-4"><span class="font-weight-bold text-info">Joining Date :</span> {{employee.joiningDate}}</div>
      <div class="col-sm-4"><span class="font-weight-bold text-info">Blood Group :</span> {{employee.bloodGroup}}</div>
    </div>

    <div class="row mt-5">
      <div class="col-sm-4"><span class="font-weight-bold text-info">Maritial Status :</span>
        {{employee.tcNumber}}</div>
        <div class="col-sm-4"><span class="font-weight-bold text-info">Partner Name:</span> {{employee.prevSchoolName}}
        </div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-10"><span class="font-weight-bold text-info">Address(Permanent):</span>{{pAdd.Address}}, {{pAdd.city}},
        {{pAdd.state}}- {{pAdd.zipCode}}</div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-8"><span class="font-weight-bold text-info">Address(Current):</span>{{cAdd.Address}}, {{cAdd.city}},
          {{cAdd.state}}-{{cAdd.zipCode}}</div>
      </div>
    <div class="row mt-4">
      <div class="col-sm-4"><span class="font-weight-bold text-info">Experience:</span> {{employee.experience}}</div>
      <div class="col-sm-4"><span class="font-weight-bold text-info">Aadhar Number: :</span> {{employee.aadharNumber}}
      </div>
      
    </div>
    <hr>
    <div class="mt-2">
      <span class="font-weight-bold text-info">Teacher Details:-</span>

      <div class="row mt-4">
        <div class="col-sm-4">
          <span class="font-weight-bold text-info">Teacher Name :</span>
          {{teacher.fullName}}
        </div>
        <div class="col-sm-4"><span class="font-weight-bold text-info">Specialization :</span> {{teacher.specialization}}</div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-4"><span class="font-weight-bold text-info"> Designation :</span> {{teacher.designation}}</div>
        <div class="col-sm-4 "><span class="font-weight-bold text-info"> Class Teacher :</span> {{teacher.classTeacher}}</div>
      </div>
      <hr>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script>

    </script>
</body>

</html>