
<!doctype html>
<html lang="en">
  <head>
    <title>Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div>
          
      
    <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
        <a class="navbar-brand" href="#">Dashboard</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
        </div>
    </nav>
<div class="container p-3">

    <h5 class="d-inline font-weight-bold">Today's Thought ~ </h5><p class=" d-inline text-center w-50">
        {{thought.thought}}
    </p>
    <!-- <br> -->
    {% if news %}
    {% for n in news  %}
    <span class="d-block mt-3"><h5 class="d-inline font-weight-bold">Newsletter:</h5><p class=" d-inline text-center w-50">
        {{n.description}}
    </p></span>
    {% endfor %}
   
    {% endif %}
</div>
<h3 class="m-3 text-center">Hi, 
    {{user.username}}</h1>
    <div class="row w-75 mx-auto border border-dark bg-light">
        <div class="container mx-auto m-3 bg-light p-3 col-md-6">
            <a  class="d-block text-white my-3  text-success font-weight-bold text-monospace ml-5"href="{% url 'recordForm' %}">Student Registration</a>
        <a  class="d-block text-white my-3  text-success font-weight-bold text-monospace ml-5"href="{% url 'updateInfo' %}">Student Update</a>
        <a  class="d-block text-white my-3  text-success font-weight-bold text-monospace ml-5"href="{% url 'employeeForm' %}">Employee Registration</a>
        <a  class="d-block text-white my-3  text-success font-weight-bold text-monospace ml-5"href="{% url 'updateEmpInfo' %}">Employee Update</a>
        <a  class="d-block text-white my-3  text-success font-weight-bold text-monospace ml-5"href="{% url 'addClass' %}">Add Class</a>
        <a  class="d-block text-white my-3  text-success font-weight-bold text-monospace ml-5"href="{% url 'attendenceStudent' %}">Student Attendence</a>
        <a  class="d-block text-white my-3  text-success font-weight-bold text-monospace ml-5"href="{% url 'attendenceTeacher' %}">Teacher Attendence</a>
        </div>
        <div class="container mx-auto m-3 bg-light p-3 col-md-6">
            
            
            <a  class="d-block text-white my-3  text-success font-weight-bold text-monospace ml-5"href="{% url 'marksHome' %}">Marks </a>
            <a  class="d-block text-white my-3  text-success font-weight-bold text-monospace ml-5"href="{% url 'homeworkHome' %}">Home Work </a>
            <a  class="d-block text-white my-3  text-success font-weight-bold text-monospace ml-5"href="{% url 'noticeHome' %}">Notice </a>
            <a  class="d-block text-white my-3  text-success font-weight-bold text-monospace ml-5"href="{% url 'addThought' %}">Add Thought </a>
            <a  class="d-block text-white my-3  text-success font-weight-bold text-monospace ml-5"href="{% url 'addNewsletter' %}">Add Newsletter </a>
            <a  class="d-block text-white my-3  text-success font-weight-bold text-monospace ml-5"href="{% url 'addSchoolInfo' %}">Add School Info </a>
            <a  class="d-block text-white my-3  text-success font-weight-bold text-monospace ml-5"href="{% url 'addHoliday' %}">Add Holiday </a>
        </div>
    </div>
</div>
  </body>
</html>

