<!doctype html>
{% load static %}
<html lang="en">

<head>
    <title>Add Marks</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    {% include 'message.html' %}
    <div class="container mt-3">
        <form method="GET" action="{% url 'addMarks' %}">
            <div class="form-row">
                <!--  <div class="form-group col-md-3">
                    <label for="">Class Name</label>
                    <input type="text" class="form-control" value="{{values.class_name}}" id="" placeholder="" name="class_name" required>
                </div> -->
                <div class="form-group col-md-3">
                    <label class="pr-1" for="">Class Name:</label>
                    <select name="class_name" class="form-control mr-2" id="">
                        <option selected="true" disabled="disabled">Select</option>
                        {% for class_room in class_rooms %}
                        <option value='{{ class_room.classSection }}'
                        {% if class_room.classSection == values.class_name %}

                            selected
                        {% endif %}


                        >{{ class_room.classSection }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="">Type of Exam</label>
                    <select name="exam_type" class="form-control mr-2" id="">
                        <option selected="true" disabled="disabled">Select</option>
                        {% for exam_type in exam_types %}
                        <option value='{{ exam_type.examType }}'
                        {% if  exam_type.examType == values.exam_type %}

                            selected
                        {% endif %}

                        >{{ exam_type.examType }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- <div class="form-group col-md-3">
                    <label for="">Type of Exam</label>
                    <input type="text" class="form-control" id=""value="{{values.exam_type}}" placeholder="" name="exam_type" required>
                </div> -->
                <div class="form-group col-md-3">
                    <label for=""> Subject</label>
                    <input type="text" class="form-control" id="" value="{{values.subject}}" placeholder="" name="subject" required>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-success ">Submit</button>
        </form>
    </div>
    {% if students %}
    <div class="container-fluid mt-5">
        <table class="mb-5 table table-secondary table-striped">
            <form method="POST" action="{% url 'addMarks' %}">
                {% csrf_token %}
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Roll Number</th>
                        <th scope="col">Admission Number</th>
                        <th scope="col">Class Section</th>
                        <th scope="col">Marks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <th scope="row">{{ student.student.fullName}}</th>
                        <td>{{ student.roll_number }}</td>
                        <td>{{ student.student.admissionNumber }}</td>
                        <td>{{ student.classRoom.classSection }}</td>
                        <td>
                            <div class="form-row ">
                                <div class="form-group col-md-3">
                                    <input type="number" class="form-control" id="" placeholder="" name={{student.student.admissionNumber}} required>
                                </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
        <button type="submit" class="btn btn-success">Add Marks</button>
        </form>
    </div>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>